*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.app{
    min-height: 100vh;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
